{template 'header', $TP}
<div class="nav">
<a href="index.php">首页</a> >
<a href="index.php?moduleid={$moduleid}">{$MOD[name]}</a> >
<a href="index.php?moduleid={$moduleid}&amp;action=category">按分类浏览</a> >
</div>
<div class="main">
{loop $lists $v}
	&nbsp;&nbsp;&nbsp;&nbsp;<strong>
	{if $v[child]}
	<a href="index.php?moduleid={$moduleid}&amp;action=category&amp;pid={$v[catid]}">+</a>
	{else}
	 -
	{/if}
	</strong>&nbsp;&nbsp;
	<a href="index.php?moduleid={$moduleid}&amp;catid={$v[catid]}">{$v[catname]}</a> ({$v[item]})<br/>
{/loop}
{template 'footer', $TP}