<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8"/>
	{if $head_keywords}
<meta name="keywords" content="{$head_keywords}"/>
{/if}
{if $head_description}
<meta name="description" content="{$head_description}"/>
{/if}
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<link rel="apple-touch-icon" href="{AJ_SKIN}images/mobile/app144.png" />
	<link rel="apple-touch-icon-precomposed" href="{AJ_SKIN}images/mobile/app144.png" />
	<link href="{AJ_SKIN}images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
	<link href="{AJ_SKIN}css/mobile.css?v=3" rel="stylesheet" type="text/css" /><link href="{AJ_SKIN}css/mobile_alert.css?v=3" rel="stylesheet" type="text/css" /><script src="{AJ_SKIN}js/mobile/zepto.js?v=3" type="text/javascript"></script><script src="{AJ_SKIN}js/mobile/swipe.js?v=3" type="text/javascript"></script><script src="{AJ_SKIN}js/mobile/iscroll.js?v=3" type="text/javascript"></script><script src="{AJ_SKIN}js/mobile/mobile_alert.js?v=3" type="text/javascript"></script><script src="{AJ_SKIN}js/mobile/imagesloaded.js?v=3" type="text/javascript"></script>	
  
	<title>{$head_title}</title>
</head>
